<!DOCTYPE html>
<html lang="en">
<head>
    <title>Need Finder</title>
    <!--Bootstrap Bootswatch CDN link-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-Li5uVfY2bSkD3WQyiHX8tJd0aMF91rMrQP5aAewFkHkVSTT2TmD2PehZeMmm7aiL" crossorigin="anonymous">
    <!--Personal stylesheet-->
    <link href="assets/css/style.css" rel="stylesheet">
    <!--Viewport tag for media queries.-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{{body}}}
</body>
</html>