<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>time out, check in</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <!-- NAVBAR -->
    <nav class="light-blue lighten-1 navbar-fixed-top row" role="navigation">
        <div class="col-xs-12">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">time out, check in</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/data">Data</a></li>
                <li><a target="_blank" href="https://github.com/mchlltt/timeout-checkin">GitHub</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/data">Data</a></li>
                <li><a target="_blank" href="https://github.com/mchlltt/timeout-checkin">GitHub</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
        </div>
    </nav>

    {{{ body }}}

    <!-- FOOTER -->
    <footer class="page-footer orange row">
        <div class="container">
            <h5 class="white-text">about time out, check in</h5>
            <p class="grey-text text-lighten-4">Life can get out of control. Just turn on the news and see what we mean. Sometimes we just need to exhale, self-assess, and take some time away. This app helps you do just that. It's a simple way to take some much needed minutes out of our day to reflect,
                    check our emotional state, and take steps towards being in a better state of mind.</p>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p class="grey-text text-lighten-4">time out, check in was created by Chris Brenner, Mich Elliott, and Matt Tutak.</p>
            </div>
        </div>
    </footer>
    <div id="media-query"></div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="assets/js/design.js"></script>
    <script src="assets/js/slider.js"></script>
</body>

</html>
