<main class="data-viz">
    <div class="container chart-wrapper">
        <h1>Popularity of Resource Categories</h1>
        <canvas id="myChart"></canvas>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
var ctx = document.getElementById("myChart");
$.get('/api/resource-category-count').done(function(data) {
    var minValue = Math.min.apply(null, data) - 1;
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Relax", "Distract", "Inspire", "Cope"],
            datasets: [{
                label: '# of Selections',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        min: minValue
                    }
                }]
            }
        }
    });
});
</script>