<!-- Main Section -->
<div class="row center">
    <div class="questions single-item blue">
        <!-- FIRST SLIDE -->
        <div class="slide slick-carousel-item blue white-text" id="welcome-slide">
            <div class="container">
                <h1 class="title header center bold">Need Finder</h1>
                <div class="row center"> 
                    <h5 class="questionheader col s12 light">Take Time For What Matters</h5>
                </div>
                <div class="row center">
                    <a id="start" class="btn-large waves-effect waves-light orange">Exhale</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide slick-carousel-item blue white-text" id="question1-slide">
                <div class="container">
                    <h1 class="title header center bold">Need Finder</h1>
                    <form class="center" action="#">
                        <div class="center">
                            <input name="group1" type="radio" id="pick1" class="userInput" data-name="" />
                            <label class="white-text" for="pick1">Emotion1</label>
            
                            <input name="group1" type="radio" id="pick2" class="userInput" data-name="" />
                            <label class="white-text" for="pick2">Emotion2</label>
                        
                            <input name="group1" type="radio" id="pick3" class="userInput" data-name="" />
                            <label class="white-text" for="pick3">Emotion3</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Next Section -->
        <div class="slide">your content</div>
    </div>
</div>
<!-- Slick carousel ends here -->