/* Major elements */

* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

.col-xs-12 {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

html {
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
}

main {
    margin: 5vh 0 2vh 0 !important;
    overflow-x: hidden;
    width: 100%;
    height: 85vh;
    min-height: 550px;
}

main .col-xs-12 {
    height: 100%;
    display: block;
}

/* Slider */

.slick-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.questions, .slick-track, .slide, .slick-list {
    min-height: 500px;
    height: 90%;
}

.slick-carousel-item:focus {
    outline: none;
}

/* Slider content */

label::before,
[type="radio"]:checked + label:after,
[type="radio"]:checked + label:before,
[type="radio"].with-gap:checked + label:after,
[type="radio"].with-gap:checked + label:before {
    display: none;
}

input[type="radio"]:checked + label {
    color: #ff9800 !important;
}

label {
    padding-left: 0 !important;
    font-weight: 400;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    font-size: 28px;
    margin: 10px;
}

.options {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    flex-flow: wrap;
    max-width: 400px;
}

#resource-categories-options {
    flex-direction: column;
}

.title {
    font-size: 6rem;
}

h5 {
    font-size: 3rem;
}

.resource-container {
    display: flex;
    align-content: center;
    flex-direction: column;
}

#resource-title a:hover,
#resource-title a:focus,
.feeling-text {
    color: #ff9800 !important;
}

.left-button {
    margin-right: 10px;
}

.btn-large {
    margin-top: 10px;
}

.slick-dots {
    height: 20px;
}

/* Header/Footer  */
.navbar-fixed-top, .page-footer {
    position: relative;
    margin: 0;
}

.navbar-fixed-top, .nav-wrapper {
    height: 56px !important;
}

.footer-copyright p {
    margin: 0;
}

nav ul a {
    font-size: 1.8rem;
    height: 56px;
}

.brand-logo {
    font-size: 2.8rem;
}

/* Data Viz */
.chart-wrapper, .data-viz {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#myChart {
    height: 80% !important;
    margin: 0 !important;
}

#media-query {
    display: none;
    width: 2px;
}

/* Media queries */
@media only screen and (max-width: 500px) {
    h5 {
        font-size: 2rem;
    }

    iframe {
        width: 310px;
        height: 310px;
    }

    .brand-logo {
        font-size: 2rem;
    }

    .title {
        font-size: 4rem;
    }

    #media-query {
        width: 1px;
    }
}
